#MainMenu,
header,
footer {
  visibility: hidden;
}

.st-emotion-cache-1gv3huu {
  visibility: hidden;
}

.st-emotion-cache-1gv3huu {
  visibility: hidden;
}

.stApp {
  /* background-color: #f4f4f9; */
  /* background-image: url('data:image/png;base64,...'); Add your base64 texture */
  /* padding: 2rem; */
  /* max-width: 1300px; */
  margin: 0 auto;
}

/* Container styling with refined shadow */
.main .block-container {
  max-width: 1200px;
  padding: 2rem;
  /* margin: auto;
  margin: 0 auto; */
  /* background-color: #ffffff; */
  border-radius: 12px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}
